[core]
    excludesfile = ~/.gitignore
    pager = delta

[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "git://github.com/"

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red

[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 30

[push]
    # https://git-scm.com/docs/git-config#git-config-pushdefault
    default = current
    # Make `git push` push relevant annotated tags when pushing branches out.
    followTags = true

[user]
    name = Josh Michielsen
    email = github@mickey.dev
    signingkey = FCC1BEAA5F87CDB1

[commit]
    gpgsign = true

[pull]
    rebase = false

[alias]
    pl = pull
    ps = push
    st = status
    c = commit
    cm = commit -m
    co = checkout
    cob = checkout -b
    last = log -1 HEAD

[init]
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
