[core]
    excludesfile = ~/.gitignore
    pager = less -FRX

[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "git://github.com/"

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red

[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 30

[push]
    # https://git-scm.com/docs/git-config#git-config-pushdefault
    default = current
    # Make `git push` push relevant annotated tags when pushing branches out.
    followTags = true

[user]
    name = Josh Michielsen
    email = github@mickey.dev
	signingkey = FCC1BEAA5F87CDB1

[commit]
	gpgsign = true
[pull]
	rebase = false
