[core]
    excludesfile = ~/.gitignore
    pager = delta

[interactive]
    diffFilter = delta --color-only

[add.interactive]
    useBuiltin = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "git://github.com/"

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red

[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 30

[push]
    # https://git-scm.com/docs/git-config#git-config-pushdefault
    default = current
    # Make `git push` push relevant annotated tags when pushing branches out.
    followTags = true
	autoSetupRemote = true

[user]
    name = Josh Michielsen
    email = github@mickey.dev
	signingkey = EC7B9537E6ED431175627703FCC1BEAA5F87CDB1

[commit]
    gpgsign = true

[pull]
    rebase = false

[alias]
    pl = pull
    ps = push
    st = status
    c = commit
    cm = commit -m
    co = checkout
    cob = checkout -b
    last = log -1 HEAD

[init]
    defaultBranch = main

[delta]
    features = line-numbers decorations
    side-by-side = true
    whitespace-error-style = 22 reverse
    navigate = true
    dark = true

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
