# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE configs
.vscode
.idea

# Configs
config.local.json
config.secret.json
.env
